.custom-lbox{
    background: bisque;
    font-family: verdana;
    font-weight: bold;
}

.customtable {
    border-collapse: collapse;
}

table td,
table th {
    padding: 8px;
    border: 1px solid black;
}

table tr:nth-child(even) {
    background-color: lightblue;
}

table th {
    background-color: darkblue;
    color: white;
}

.select {
    width: 100%;
    padding: 4px;
}

.submit-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}